<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <getLookupSourceItems>
                <processor type="Sitecore.Foundation.Multisite.Infrastructure.Pipelines.GetFieldSource, Sitecore.Foundation.Multisite"
                           patch:before="processor[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
                           resolve="true"/>
            </getLookupSourceItems>
            <getRenderingDatasource>
                <processor type="Sitecore.Foundation.Multisite.Infrastructure.Pipelines.GetDatasourceLocationAndTemplateFromSite, Sitecore.Foundation.Multisite" 
                           patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']" 
                           resolve="true"/>
            </getRenderingDatasource>
            <httpRequestBegin>
                <!--Fix of switching to default site instead of one matched by domain-->
                <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.ResolveContentLanguage, Sitecore.ExperienceEditor">
                    <patch:attribute name="type" value="Sitecore.Foundation.Multisite.Infrastructure.Pipelines.ResolveContentLanguage, Sitecore.Foundation.Multisite" />
                </processor>
            </httpRequestBegin>
        </pipelines>
        <commands>
            <command name="multisite:createdatasourcesetting" type="Sitecore.Foundation.Multisite.Infrastructure.Commands.CreateRenderingSetting, Sitecore.Foundation.Multisite" />
            <command name="multisite:createfieldsourcesetting" type="Sitecore.Foundation.Multisite.Infrastructure.Commands.CreateFieldSourceSetting, Sitecore.Foundation.Multisite" />

            <!--Fix of switching to default site instead of one matched by domain-->
            <command name="webedit:openexperienceeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor">
                <patch:attribute name="type" value="Sitecore.Foundation.Multisite.Infrastructure.Commands.OpenExperienceEditor, Sitecore.Foundation.Multisite" />
            </command>
        </commands>
        <settings>
            <setting name="Foundation.Multisite.SettingsRootName" value="Settings" />
            <setting name="Foundation.Multisite.DatasourceDialogRoot" value="/sitecore/layout/renderings" />
            <setting name="Foundation.Multisite.FieldsourceDialogRoot" value="/sitecore/templates" />
            <setting name="Preview.ResolveSite">
                <patch:attribute name="value" value="true" />
            </setting>
        </settings>
        <services>
            <configurator type="Sitecore.Foundation.Multisite.Infrastructure.ServicesConfigurator, Sitecore.Foundation.Multisite" />
        </services>
    </sitecore>
</configuration>